GOOGLE_CLIENT_ID = 633377018882-vpb73nrd92e7r7ln7a409d1kc75fkhsq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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
GOOGLE_CALLBACK_URL = http://localhost:3000/api/auth/google/callback
FRONTEND_URL = http://localhosta:4200
GROQ_API_KEY = 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
COMPLETA_REGISTRAZIONE = http://localhost:3000/api/auth/completa-registrazione
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=lollovissio7@gmail.com
SMTP_PASS=nitm fykw lnao wbyh
SMTP_FROM=lollovissio7@gmail.com
CONTACT_EMAIL= umbif007@gmail.com